{
	"directories": [
		"~/bin",
		"~/.vim"
	],

	"link": {
		".bashrc": "~/.bashrc",
		".bash_aliases": "~/.bash_aliases",
		".bash_exports": "~/.bash_exports",
		".bash_functions": "~/.bash_functions",
		".bash_prompt": "~/.bash_prompt",
		".bash_profile": "~/.bash_profile",
		".vimrc": "~/.vimrc",
		".vim/colors": "~/.vim/colors",
		".gitconfig": "~/.gitconfig",
		"dotty/dotty.py": "~/bin/dotty"
	}

	"copy": {
		".bash_local": "~/.bash_local",
		".bash_logout": "~/.bash_logout"
	}
}
